@keyframes ripple {
    0% {
        transform: scale(1); /* Start with normal scale */
        opacity: 0; /* Start with no opacity */
    }
    50% {
        opacity: 0.75; /* Begin to fade in */
    }
    100% {
        transform: scale(3); /* Expand to a larger scale */
        opacity: 0; /* Fade out */
    }
}

@keyframes fadeIn {
    0% {
        background-color: rgba(255, 255, 255, 5%);
    }
    100% {
        background-color: rgba(255, 255, 255, 35%);
    }
}

@keyframes fadeOut {
    0% {
        background-color: rgba(255, 255, 255, 35%);
    }
    100% {
        background-color: rgba(255, 255, 255, 5%);
    }
}

body {
    margin: 0;

    background-image: url('./assets/cat_cute_ball.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Prevent image repetition */
    background-attachment: fixed; /* Fixed background for scrolling */
    background-position: center center; /* Center the background image */
    font-family: Arial, sans-serif;
}

.display {
    border: 1px solid rgba(255, 255, 255, 10%);
    background-color: rgba(255, 255, 255, 10%); /* Semi-transparent white background */
    backdrop-filter: blur(5px); /* Apply a blur effect to elements behind */
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 300px;
    z-index: 2; /* Render above other content */
}

.header {
    font-style: italic;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.timer, .score {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 10%);
    border: 1px solid rgba(255, 255, 255, 10%);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    text-transform: uppercase;
}

.game-over-popup {
    display: none; /* Initially hide the popup */
    position: fixed; /* Fixed position to keep it centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    color: #ffffff;
    background-color: rgba(255, 255, 255, 10%);
    border: 1px solid rgba(255, 255, 255, 10%);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

.game-over-popup #restart-button {
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 10%);
    border: 1px solid rgba(255, 255, 255, 10%);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.game-over-popup #restart-button {
    background-color: rgba(255, 255, 255, 10%);
    transition: background-color 500ms ease-out;
}

.game-over-popup #restart-button:hover {
    animation: fadeIn 500ms ease-out forwards;
}

.game-over-popup #restart-button:not(:hover) {
    animation: fadeOut 500ms ease-out forwards;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 150px;
}

/* Apply the ripple animation to the target when the game is not running */
.game-container:not(.running) .target {
    animation: ripple 2s ease-out infinite; /* Adjust the animation duration as needed */
    transform-origin: center center; /* Set the origin for the ripple effect to the center */
}

.target {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px); /* Center vertically */
    left: calc(50% - 50px); /* Center horizontally */
    border-radius: 50%; /* Circle */
    cursor: pointer;
    transition: left 200ms ease, top 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}